In [17]:
counter=10

In [18]:
counter=counter+1

In [19]:
counter

11

In [20]:
counter=20

In [21]:
counter= counter*20

In [22]:
counter

400

In [23]:
counter=40

In [24]:
counter+=4

In [25]:
counter

44

In [26]:
5 + False

5

In [27]:
3 + True

4

In [28]:
a = None

In [29]:
type(a)

NoneType

In [30]:
angel='''"angel, can you give me a coffee?" 
Dad:No sun."'''

In [31]:
angel

'"angel, can you give me a coffee?" \nDad:No sun."'

In [32]:
print(angel)

"angel, can you give me a coffee?"
Dad:No sun."

In [33]:
#length of string
len(angel)

48

In [34]:
multiline_string="""a
b"""

In [35]:
multiline_string

'a\nb'

In [36]:
len(multiline_string)

3

In [37]:
list(multiline_string)

['a', '\n', 'b']

__string also support several list operations 
you can acess individual characters within a string using the [] indexing notation. Note the character indices go from 0 to n-1, n is the length of string.__

In [38]:
today="saturday"

In [39]:
today[0]

's'

In [40]:
today[1]

'a'

__You can also access a part of a string using by providing a start:end range istead of a single index in []__

In [43]:
today[5:8]

'day'

__You can also check whether a string contains a some text using the in operator__

In [45]:
'day' in today

True

In [46]:
'sun' in today

False

__Two or more string can be  joined or concatenated using the + operator. Be careful while concatenating strings, sometimes you may need to add a space character " " between words.__

In [47]:
str1="Angel Mainali"

In [48]:
str2="Hello"

In [50]:
str2+" "+str1

'Hello Angel Mainali'

In [51]:
print(str2+" "+str1)

Hello Angel Mainali

Strings in python have many built-in methoda that are used to manipulate them. Let's try out some common string methods.

   __Methods:__ Methods are functions asssociated with data types and are accessed using . notation. e.g. variable name.method() or "a string".method(). Methods are a powerful technique for associating common operations with values of specific data types.

The __lower()__,__upper()__ and __capitalize()__ methods are used to change the case of characters'

In [54]:
name="ANGEL"

In [55]:
name.lower()

'angel'

In [56]:
subject="English"

In [57]:
subject.upper()

'ENGLISH'

In [59]:
var="angel"

In [60]:
var.capitalize() #changes first character to uppercase

'Angel'

The __.replace__ method replaces the part of the string with another string. It takes the portion to be replaced and the replacement text as inputs or arguments.

In [61]:
day="sunday"

In [62]:
next_day=day.replace("sun", "mon")

In [63]:
print(next_day)

monday

Note that _replace_ returns a new string, and the original string is not modified.

In [64]:
day

'sunday'

The __.split__ method splits a string into a list of strings at every occurence of provided character(s).

In [65]:
"sun,mon,tue,wed,thu,Fri,sat".split(",")

['sun', 'mon', 'tue', 'wed', 'thu', 'Fri', 'sat']

The __.strip__ method removes whitespace characters from the beginning and end of the string.

In [66]:
line="       My name is     angel mainali       "

In [71]:
line_stripped=line.strip()

In [72]:
print(line_stripped)

My name is     angel mainali

The __.format__ method combines values of other data types, e.g., integers,floats,booleans,lists, etc. with strings. You can use __format__ to construct output messages for display.

In [1]:
cost_of_bag= 1.25
profit=.3
Total_bags=400
#Template for output message
output_template= """If a grocery store sells bags at {} per bag with a profit margin of {} then the total profit is {}."""
print(output_template)

If a grocery store sells bags at {} per bag with a profit margin of {} then the total profit is {}.

In [84]:
#inserting values into the string
total_profit= cost_of_bag*profit*Total_bags
output=output_template.format(cost_of_bag,profit*100,total_profit)
print(output)

If a grocery store sells bags at 1.25 per bag with a profit margin of 30.0 then the total profit is 150.0.

Notice how the placeholders {} in the output_template string are replaced with the arguments provided to the __.format__ method

In [1]:
#find(value): Searches for the first occurrence of a value and returns its index, or -1 if not found.
text = "Hello World"
print(text.find("World"))

6

In [3]:
print(text.find("angel"))

-1

In [4]:
#The rstrip() method removes specified trailing characters (defaults to whitespace).
str3 = "Hello !!!"
print(str3.rstrip("!"))

Hello

In [5]:
#center():
#The center() method aligns the string to the center as per the parameters given by the user.
str1 = "Welcome to the Console!!!"
print(str1.center(50))

            Welcome to the Console!!!

In [8]:
#We can also provide a padding character. It will fill the rest of the fill characters provided by the user.
print(str1.center(50,"."))

............Welcome to the Console!!!.............

In [9]:
#count():
#The count() method returns the number of times the given value has occurred within the given string.
str2 = "Abracadabra"
countStr = str2.count("a")
print(countStr)

4

In [10]:
#endswith():
#The endswith() method checks if the string ends with a given value. If yes, then return True, else return False.
str1 = "Welcome to the Console !!!"
print(str1.endswith("!!!"))

True

In [11]:
print(str1.endswith("Console"))

False

In [12]:
#We can even also check for a value in-between the string by providing start and end index positions.
str1 = "Welcome to the Console !!!"
print(str1.endswith("to", 4, 10))

True

As we can see, this method is somewhat similar to the index() method. The major difference being that index() raises an exception if the value is absent whereas find() does not.

In [13]:
str1 = "He's name is Dan. He is an honest man."
print(str1.find("Daniel"))

-1

index():
The index() method searches for the first occurrence of the given value and returns the index where it is present. If the given value is absent from the string, then raise an exception.

In [14]:
str1 = "He's name is Dan. Dan is an honest man."
print(str1.index("Dan"))

13

In [16]:
str1 = "He's name is Dan. Dan is an honest man."
print(str1.index("Daniel"))

ValueError: substring not found

isalnum():
The isalnum() method returns True only if the entire string only consists of A-Z, a-z, 0-9. If any other characters or punctuations are present, then it returns False.

In [17]:
str1 = "WelcomeToTheConsole"
print(str1.isalnum())

True

In [18]:
str1 = "Welcome To The Console"
print(str1.isalnum())
str2 = "Hurray!!!"
print(str2.isalnum())

False
False

isalpha():
The isalpha() method returns True only if the entire string only consists of A-Z, a-z. If any other characters or punctuations or numbers (0-9) are present, then it returns False.

In [19]:
str1 = "Welcome"
print(str1.isalpha())

True

In [20]:
str1 = "I'm 18 years old"
print(str1.isalpha())
str2 = "Hurray!!!"
print(str2.isalpha())

False
False

islower():
The islower() method returns True if all the characters in the string are lower case, else it returns False.

In [21]:
str1 = "hello world"
print(str1.islower())

True

In [22]:
str1 = "welcome Mike"
print(str1.islower())
str2 = "Hurray!!!"
print(str2.islower())

False
False

isprintable():
The isprintable() method returns True if all the values within the given string are printable, if not, then return False.

In [23]:
str1 = "We wish you a Merry Christmas"
print(str1.isprintable())

True

In [24]:
str2 = "Hello, \t\t.Mike"
print(str2.isprintable())

False


isspace():
The isspace() method returns True only and only if the string contains white spaces, else returns False.

In [25]:
str1 = "        "  # using Spacebar
print(str1.isspace())
str2 = "        "  # using Tab
print(str2.isspace())

True
True

In [26]:
str1 = "Hello World"
print(str1.isspace())

False

istitle():
The istitle() returns True only if the first letter of each word of the string is capitalized, else it returns False.

In [27]:
str1 = "World Health Organization"
print(str1.istitle())

True

In [28]:
str2 = "To kill a Mocking bird"
print(str2.istitle())

False

startswith():
The startswith() method checks if the string starts with a given value. If yes, then return True, else return False.

In [29]:
str1 = "Python is a Interpreted Language"
print(str1.startswith("Python"))

True

In [30]:
str1 = "Python is a Interpreted Language"
print(str1.startswith("a"))

False

In [31]:
str1 = "Python is a Interpreted Language"
print(str1.startswith("Inter", 12, 20))

True

title():
The title() method capitalizes each letter of the word within the string.

In [32]:
str1 = "He's name is Dan. Dan is an honest man."
print(str1.title())

He'S Name Is Dan. Dan Is An Honest Man.

In [33]:
name = "Guzman"
age = 18
statement = "My name is {} and my age is {}."
print(statement.format(name, age))

My name is Guzman and my age is 18.

In [34]:
str1 = "I love doing Yoga. \nIt cleanses my mind and my body."
print(str1)

I love doing Yoga.
It cleanses my mind and my body.

In [35]:
str2 = "Hello \t\tWorld \t!!!"
print(str2)

Hello 		World 	!!!

In [36]:
str3 = "What will you eat? Apple\\Banana"
print(str3)

What will you eat? Apple\Banana

In [37]:
#We can check if a given item is present in the list. This is done using the in keyword.
colors = ["Red", "Green", "Blue", "Yellow", "Green"]
if "Yellow" in colors:
    print("Yellow is present.")
else:
    print("Yellow is absent.")

Yellow is present.

In [38]:
animals = ["cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(animals[3:7])  # using positive indexes
print(animals[-7:-2])  # using negative indexes

['mouse', 'pig', 'horse', 'donkey']
['bat', 'mouse', 'pig', 'horse', 'donkey']

In [39]:
animals = ["cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(animals[4:])  # using positive indexes
print(animals[-4:])  # using negative indexes

['pig', 'horse', 'donkey', 'goat', 'cow']
['horse', 'donkey', 'goat', 'cow']

In [40]:
animals = ["cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(animals[:4])  # using positive indexes
print(animals[:-4])  # using negative indexes

['cat', 'dog', 'bat', 'mouse']
['cat', 'dog', 'bat', 'mouse', 'pig']

In [41]:
#When no start index is provided, the interpreter prints all the values from start up to the end index provided.
animals = ["cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(animals[::2])  # using positive indexes
print(animals[-8:-1:2])  # using negative indexes
#Here, we have not provided start and end indexes, which means all the values will be considered. But as we have provided a jump index of 2, only alternate values will be printed.

['cat', 'bat', 'pig', 'donkey', 'cow']
['dog', 'mouse', 'horse', 'goat']

In [43]:
#printing every 3rd consecutive within a given range
animals = ["cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(animals[1:8:3])
#Here, the jump index is 3. Hence it prints every 3rd element within the given index.

['dog', 'pig', 'goat']

In [44]:
names = ["Harry", "Sarah", "Nadia", "Oleg", "Steve"]
names[2] = "Millie"
print(names)

['Harry', 'Sarah', 'Millie', 'Oleg', 'Steve']

In [45]:
#You can also change more than a single item at once. To do this, just specify the index range over which you want to change the items.
names = ["Harry", "Sarah", "Nadia", "Oleg", "Steve"]
names[2:4] = ["juan", "Anastasia"]
print(names)

['Harry', 'Sarah', 'juan', 'Anastasia', 'Steve']

What if the range of the index is more than the list of items provided?

In this case, all the items within the index range of the original list are replaced by the items that are provided.

In [46]:
names = ["Harry", "Sarah", "Nadia", "Oleg", "Steve"]
names[1:4] = ["juan", "Anastasia"]
print(names)

['Harry', 'juan', 'Anastasia', 'Steve']

What if we have more items to be replaced than the index range provided?

In this case, the original items within the range are replaced by the new items, and Python inserts all the new items and shifts the remaining elements to the right.

In [47]:
names = ["Harry", "Sarah", "Nadia", "Oleg", "Steve"]
names[2:3] = ["juan", "Anastasia", "Bruno", "Olga", "Rosa"]
print(names)

['Harry', 'Sarah', 'juan', 'Anastasia', 'Bruno', 'Olga', 'Rosa', 'Oleg', 'Steve']


List comprehensions are used to create new lists from existing iterables such as lists, tuples, dictionaries, sets, arrays, or even strings.

Syntax:example_list = [expression(item) for item in iterable if condition]

expression: the value to put into the new list.
iterable: a sequence or collection you can loop over (lists, tuples, dictionaries, sets, strings, etc.)
condition: condition checks if the item should be added to the new list or not.

In [50]:
names = ["Milo", "Sarah", "Bruno", "Anastasia", "Rosa"]
namesWith_O = [item for item in names if "o" in item]
print(namesWith_O)#This comprehension checks each name and includes it only if it contains the letter "o".

['Milo', 'Bruno', 'Rosa']

In [51]:
names = ["Milo", "Sarah", "Bruno", "Anastasia", "Rosa"]
namesLong = [item for item in names if len(item) > 4]
print(namesLong)

['Sarah', 'Bruno', 'Anastasia']

In [52]:
#A nested list simply means a list that contains other lists as items.
# Nested List Example
students = [
    ["Harry", 20],
    ["Sarah", 22],
    ["Bruno", 21]
]

print(students)

[['Harry', 20], ['Sarah', 22], ['Bruno', 21]]

Accessing Items in Nested Lists
To access elements inside nested lists, we use multiple indexes:

First index → selects the inner list
Second index → selects the item inside that inner list

In [53]:
# Accessing elements inside nested lists
students = [
    ["Harry", 20],
    ["Sarah", 22],
    ["Bruno", 21]
]

print(students[0][0])     # First student's name
print(students[1][1])     # Second student's age

Harry
22

In [54]:
# Modifying nested list items
students = [
    ["Harry", 20],
    ["Sarah", 22],
    ["Bruno", 21]
]

students[0][1] = 25       # Updating Harry's age

print(students)

[['Harry', 25], ['Sarah', 22], ['Bruno', 21]]

In [55]:
# Looping through nested lists
students = [
    ["Harry", 20],
    ["Sarah", 22],
    ["Bruno", 21]
]

for student in students:
    print(student)

['Harry', 20]
['Sarah', 22]
['Bruno', 21]

In [56]:
# Looping through values inside nested lists
students = [
    ["Harry", 20],
    ["Sarah", 22],
    ["Bruno", 21]
]

for student in students:
    for value in student:
        print(value)

Harry
20
Sarah
22
Bruno
21

In [57]:
# Matrix representation using nested lists
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matrix[1][2])       # Row 1, Column 2

6

Tuples
Just like lists, Python also provides another way to store multiple items: tuples. Tuples look similar to lists, but have one important difference: they cannot be changed after creation.

Tuples are ordered collections of data items. They store multiple items in a single variable. Tuple items are separated by commas and enclosed within round brackets (). Tuples are unchangeable, meaning we cannot alter them after creation.

Note: It is the comma that creates a tuple, not the parentheses.

Example: a = (5) is not a tuple. It is just the number 5. To create a tuple with one item, you must add a comma. a = (5,)

In [58]:
tuple1 = (1, 2, 2, 3, 5, 4, 6)
tuple2 = ("Red", "Green", "Blue")
print(tuple1)
print(tuple2)

(1, 2, 2, 3, 5, 4, 6)
('Red', 'Green', 'Blue')

In [59]:
details = ("Abhijeet", 18, "FYBScIT", 9.8)
print(details)

('Abhijeet', 18, 'FYBScIT', 9.8)

Tuples are useful when you want to store fixed data that should not be modified, such as coordinates, dates, or constants.

Tuple Indexes
Just like lists, tuple items also have indexes. Indexes help us access specific items stored inside a tuple. Each item/element in a tuple has its own unique index. This index can be used to access any particular item from the tuple. The first item has index [0], the second item has index [1], the third item has index [2], and so on.

In [60]:
country = ("Spain", "Italy", "India", "England", "Germany")
#            [0]      [1]      [2]       [3]        [4]
print(country[1])
print(country[3])
print(country[0])

Italy
England
Spain

In [61]:
country = ("Spain", "Italy", "India", "England", "Germany")
#            [0]      [1]      [2]       [3]        [4]
print(country[-1])
print(country[-3])
print(country[-4])

Germany
India
Italy

In [62]:
country = ("Spain", "Italy", "India", "England", "Germany")
if "Germany" in country:
    print("Germany is present.")
else:
    print("Germany is absent.")

Germany is present.

In [63]:
country = ("Spain", "Italy", "India", "England", "Germany")
if "Russia" in country:
    print("Russia is present.")
else:
    print("Russia is absent.")

Russia is absent.

In [64]:
animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow")
print(animals[3:7])     # using positive indexes
print(animals[-7:-2])   # using negative indexes

('mouse', 'pig', 'horse', 'donkey')
('bat', 'mouse', 'pig', 'horse', 'donkey')

In [65]:
animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow")
print(animals[4:])      # using positive indexes
print(animals[-4:])     # using negative indexes

('pig', 'horse', 'donkey', 'goat', 'cow')
('horse', 'donkey', 'goat', 'cow')

In [66]:
animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow")
print(animals[:6])      # using positive indexes
print(animals[:-3])     # using negative indexes

('cat', 'dog', 'bat', 'mouse', 'pig', 'horse')
('cat', 'dog', 'bat', 'mouse', 'pig', 'horse')

In [67]:
animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow")
print(animals[::2])     # using positive indexes
print(animals[-8:-1:2]) # using negative indexes

('cat', 'bat', 'pig', 'donkey', 'cow')
('dog', 'mouse', 'horse', 'goat')

Manipulating Tuples
In the previous section, we learned that tuples are immutable. Because of this, we cannot directly modify their items. Tuples are immutable, hence if you want to add, remove or change tuple items, then first you must convert the tuple to a list. Then perform operations on that list and convert it back to a tuple.

In [68]:
countries = ("Spain", "Italy", "India", "England", "Germany")
temp = list(countries)
temp.append("Russia")       # add item 
temp.pop(3)                 # remove item
temp[2] = "Finland"         # change item
countries = tuple(temp)
print(countries)

('Spain', 'Italy', 'Finland', 'Germany', 'Russia')

In [69]:
countries = ("Pakistan", "Afghanistan", "Bangladesh", "SriLanka")
countries2 = ("Vietnam", "India", "China")
southEastAsia = countries + countries2
print(southEastAsia)

('Pakistan', 'Afghanistan', 'Bangladesh', 'SriLanka', 'Vietnam', 'India', 'China')

Unpack Tuples
Tuple unpacking allows us to extract values from a tuple and assign them to variables in a single line. Unpacking is the process of assigning the tuple items as values to variables.

In [70]:
info = ("Marcus", 20, "MIT")
(name, age, university) = info
print("Name:", name)
print("Age:", age)
print("Studies at:", university)

Name: Marcus
Age: 20
Studies at: MIT

Here, the number of tuple items is equal to the number of variables.

But what if we have more number of items than the variables?

You can add an * to one of the variables, and depending upon the position of the variable and the number of items, Python matches variables to values and assigns them to the variables.

In [71]:
fauna = ("cat", "dog", "horse", "pig", "parrot", "salmon")
(*animals, bird, fish) = fauna
print("Animals:", animals)
print("Bird:", bird)
print("Fish:", fish)

Animals: ['cat', 'dog', 'horse', 'pig']
Bird: parrot
Fish: salmon